
#title{
  color: #128ced;
}
body {
  background-image: url(../images/winter1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

h1 {

  font-size: 5em;
  font-family: 'Merienda', cursive;
}

h2 {
  color:;
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder,600;
}

h3 {
  color:#128ced;
  font-family: 'Raleway', sans-serif;
  font-weight: bold, 300 ;
  padding-top: 1rem;
}

hr {
  border: 10px;
  border-top-style: dotted;
  border-bottom-style: none;
  border-right-style: none;
  border-left-style: none;
  color: grey;
  width: 100px;
  margin-bottom: 100px;
}

.container-fluid{
  padding-left: 5%;
  padding-right: 5%;
}

/* Navigation Bar */

.navbar-brand{
  font-family: 'Patrick Hand', cursive;
  font-size: 2rem;
}

.nav-item {
padding: 0 18px;
font-size: 1.2rem;
}

/* Index Titles */
.welcome{
  color: #128ced;
  margin-top: 100px;
  margin-bottom: 50px;
}

/* photo slide */
#carousel{
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
}
.carousel-item {
  height: 400px;
}


/* Team Links */
#team{
  padding-bottom: 5em;
}
.teams-title{
  padding-top: 0.3rem;
  color:purple;
  font-size: 4rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder,600;
}

.teams-paragraph{
font-size: 1.5rem;
}

.gm {
  border-radius: 100%;
  width: 50%;
  height: 50%;
}


.hr-manager {
  border-radius: 100%;
  width: 50%;
  height: 50%;

}


.it-manager {
  border-radius: 100%;
  width: 50%;
  height: 50%;
}

.safety-manager {
  border-radius: 100%;
  width: 50%;
  height: 50%;
}

.facilities-manager {
  border-radius: 100%;
  width: 50%;
  height: 50%;
}

.learning-manager{
  border-radius: 100%;
  width: 50%;
  height: 60%;
}
